<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>752645998101-5qdhpam5tivsss91m72gvvtofnjo036e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.752645998101-5qdhpam5tivsss91m72gvvtofnjo036e</string>
	<key>API_KEY</key>
	<string>AIzaSyAc83XpJJ2-e2LBwqaOik6K0rfxRkEZs5g</string>
	<key>GCM_SENDER_ID</key>
	<string>752645998101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Picsart-Academy-Assistant</string>
	<key>PROJECT_ID</key>
	<string>picsart-academy-assistan-88052</string>
	<key>STORAGE_BUCKET</key>
	<string>picsart-academy-assistan-88052.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752645998101:ios:896d9346e30a05dffb301c</string>
</dict>
</plist>